.title {
	
	color: red;
	
	font-size: 45px;
	
	font-family: Verdana;
	font-weight: bold;
	
	text-align: center;
}

.subtitle{
	
	font-size: 25px;
	text-align: center;
	
	font-family: Lucida Console;

}

.whatsdesc{
	position: fixed;
	
	left: 540px;
	top: 390px;
	
	font-size: 17px;
	font-family: Verdana;
	text-align: center

}

.description{

	position: fixed;

	left: 510px;
	

}

.date{

	position: fixed;

	bottom: 0px;
	left: 450px;
}

.github{

	display: flex;
	align-items: center;
	gap: 10px;
	
	position: fixed;
	top: 875px;
	left: 850px;
	
	font-size: 25px;
	
}

.draw1{
	
	height: 960px;
	width: 400px;
	
	background-color: #143060;
	
	position: fixed;
	
	left: 0px;
	top: 0px;
}

.draw2{
	
	height: 960px;
	width: 12px;
	
	background-color: black;
	
	position: fixed;
	
	left: 400px;
	top: 0px;
}

.draw3{
	
	height: 960px;
	width: 12px;
	
	background-color: black;
	
	position: fixed;
	
	right: 400px;
	top: 0px;
}
.draw4{
	
	height: 960px;
	width: 400px;
	
	background-color: #143060;
	
	position: fixed;
	
	right: 0px;
	top: 0px;
}

.image{
	
	position: fixed;
	
	left: 940px;
	top: 500px;
}

.imagedraw{
	
	height: 65px;
	width: 490px;
	
	background-color: grey;
	
	position: fixed;
	
	left: 950px;
	top: 510px;
}