body{

	min-height: 200vh;

	
}


.move-effect{
	

}

.title {
	
	color: red;
	
	font-size: 45px;
	
	font-family: Verdana;
	font-weight: bold;
	
	text-align: center;
}

.subtitle{
	
	font-size: 25px;
	text-align: center;
	
	font-family: Lucida Console;

}

.whatsdesc{
	
	position: absolute;
	
	left: 500px;
	top: 450px;

	font-size: 17px;
	font-family: Verdana;
	text-align: center;

}

.description{

	position: absolute;
	
	top: 600px;
	left: 490px;
	
	font-family: Verdana;
	text-align: center;
}

.requeriments{

	position: fixed;
	
	left: 540px;
	top: 1090px;
}

.date{

	position: absolute;

	top: 2000px;
	left: 450px;
}

.github{

	display: flex;
	align-items: center;
	gap: 10px;

	position: absolute;
	top: 2000px;
	left: 850px;

	font-family: Verdana;	
	font-size: 20px;
	
}

.draw1{
	
	height: 960px;
	width: 400px;
	
	background-color: #143060;
	
	position: fixed;
	
	left: 0px;
	top: 0px;
}

.draw2{
	
	height: 960px;
	width: 12px;
	
	background-color: black;
	
	position: fixed;
	
	left: 400px;
	top: 0px;
}

.draw3{
	
	height: 960px;
	width: 12px;
	
	background-color: black;
	
	position: fixed;
	
	right: 400px;
	top: 0px;
}
.draw4{
	
	height: 960px;
	width: 400px;
	
	background-color: #143060;
	
	position: fixed;
	
	right: 0px;
	top: 0px;
}

.image{
	
	position: absolute;

	left: 940px;
	top: 550px;
}

.imagedraw{
	
	height: 65px;
	width: 490px;
	
	background-color: grey;
	
	position: absolute;
	
	left: 950px;
	top: 560px;
}