html{
	background-color: white;

}


html{
	background-color: #143060
}

body{
    width: 70%;
	height: 2000px;
	
	position: absolute;
	top: -10px;
	left: 270px;
	
	border-right-width: 5px;
	border-right-style: solid;
	border-right-color: black;
  
    border-left-width: 5px;
	border-left-style: solid;
	border-left-color: black;
	
	background-color: white;
	
	font-family: Verdana;	
}

.title {
	
	color: green;
	
	position: absolute;
	top: 5%;
	left: 29%;
	
	font-size: 50px;
	
	font-weight: bold;
	
	text-align: center;
}

.subtitle{
	
	position: absolute;

	top: 15%;
	left: 40%;
	
	font-size: 20px;
	

}

.whatsdesc{
	
	position: absolute;
	
	left: 200px;
	top: 450px;

	font-size: 17px;
	text-align: center;

}

.description{

	position: absolute;
	
	top: 600px;
	left: 190px;
	
	text-align: center;
}

.requeriments{

	position: fixed;
	
	left: 540px;
	top: 1090px;
}

.date{

	position: absolute;

	top: 2000px;
	left: 450px;
}

.github{

	display: flex;
	align-items: center;
	gap: 10px;

	position: absolute;
	top: 2000px;
	left: 550px;


	font-size: 25px;
	
}

.bottom-image{
	
	background-color: #00cbe7;

	height: 80px;
	width: 100%;
	
	
	position: absolute;
	left: -5px;
	bottom: -85px;
	
	
	border: 5px solid black;
}



.image{
	
	position: absolute;

	left: 740px;
	top: 550px;
}

.imagedraw{
	
	height: 65px;
	width: 490px;
	
	background-color: grey;
	
	position: absolute;
	
	left: 750px;
	top: 560px;
}

.top-table{
	
    border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: black;
	
	height: 60px;	
	width: 100%;
	
	background-color: #00cbe7;
	
	position: fixed;

	top: 0px;
	left: 0px;

}

.name-top{
	
	color: white;
	
	font-size: 15px;
	
	position: fixed;

	top: -10px;
	left: 300px;
		
}


.search-logo{

	
	position: fixed;

	top: 5px;
	left: 470px;
	
}

.option-logo{

	
	position: fixed;

	top: 3px;
	left: 1570px;
	
}