html{
 background-color: white;

}


html{
 background-color: #143060
}

body{
 width: 70%;
 height: 2100px;

 position: absolute;
 top: -10px;
 left: 14.5%;

 border-right-width: 5px;
 border-right-style: solid;
 border-right-color: black;

 border-left-width: 5px;
 border-left-style: solid;
 border-left-color: black;

 background-color: white;

 font-family: Verdana;	

}



.title {

 position: relative;
  top: 3%;
 

 color: green;

 font-size: 50px;

 font-weight: bold;

 text-align: center;
}

.subtitle{

 
 text-align: center;
 font-size: 20px;


}

.description{

 display: flex;
 gap: 20px;

 position: relative;
 top: 10%;

}

.description-text-part{
 
 flex-grow: 1;
 flex-shrink: 0;
 flex-basis: 50%;


}

.description-image{

 flex-grow: 2;
 flex-shrink: 0;
 flex-basis: 50%;
}

.title-description{

 font-size: 17px;
 text-align: center;

}

.description-text{

 text-align: center;
}


.image{

 position: relative;
 top: 5%;

}


.imagedraw{

 position: relative;

 left: 10px;
 top: 30%;

 height: 65px;
 width: 490px;

 background-color: grey;


}


.requeriments-title{

 position: relative;

 top: 420px;
 left: 14%;


}

.requeriments-desc{

 position: relative;

 top: 430px;
 left: 14%;


}



.visit-title{

 position: relative;

 font-size: 30px;

 top: 600px;

 text-align: center;

}

.visit-value{

 position: relative;

 font-size: 50px;

 top: 550px;

 text-align: center;

}


.visit-desc{

 position: relative;

 font-size: 30px;

 top: 500px;

 text-align: center;

}

.maintenance{

 position: relative;
	
 top: 720px;

 text-align: center;
}

.beta-text{

 position: absolute;

 top: 30px;
 left: 20px;
}

.social-text{

 position: absolute;

 font-size: 20px;

 right: 20px;
}


.github-logo{
 position: absolute;

 top: 50px;
 right: 125px;


}


.made-by{


 position: absolute;
 top: 40px;
 left: 20px;


 font-size: 25px;


}

.open-source-text{

 display: flex;
 align-items: center;
 gap: 9px;

 position: relative;
 top: 50px;
 left: 40%;


 font-size: 20px;

}

.bottom-image{

 background-color: #00cbe7;

 height: 110px;
 width: 100%;


 position: absolute;
 left: -5px;
 bottom: -85px;


 border: 5px solid black;
}



.top-table{

 z-index: 1;

 border-bottom-width: 5px;
 border-bottom-style: solid;
 border-bottom-color: black;

 height: 60px;	
 width: 100%;

 background-color: #00cbe7;

 position: fixed;

 top: 0px;
 left: 0px;

}

.name-top{

 color: white;

 font-size: 15px;

 position: fixed;

 top: -10px;
 left: 300px;
	
}


.search-logo{

 position: fixed;

 top: 5px;
 left: 470px;

}

.option-logo{


 position: fixed;

 top: 3px;
 left: 1570px;

}